a {
    color: white;
    size-adjust: 500px;

}


h3 {
    text-align: center;
    color: #00af43;
    text-shadow: rgb(171, 170, 170) 2px 2px 5px;
    font-size: 50px;
}

body {
    background-image: url(Recursos/Feidmor_1920x1080_centered.png);
    background-size: 100%;
    background-color: #000000;

}

.container {
    display: flex;
    /* Usamos flexbox para alinear horizontalmente */
    justify-content: space-between;
    /* Espacio entre los divs */
    padding: -1px;
    /* Espaciado interno */
}

.box {
    width: 25%;
    /* Ancho de cada div */
    padding: 20px;
    background-color: #00af43;
    /* Color de fondo */
    border: 0px solid #999;
    /* Borde para los divs internos */
    text-align: center;
    /* Alineación de texto al centro */
}
.part {
    width: 25%; /* Ancho de cada div */
    padding: 20px;
    background-color: #00af43; /* Color de fondo */
    border: 0px solid #999; /* Borde para los divs internos */
    text-align: left; /* Alineación de texto al centro */
    margin: 0%;
}

#texto {


    background-color: aliceblue;
    width: 00%;



}

#imagen {
    width: 40%;
    margin-left: -40px;
    transition: all 300ms;
    position: relative;

}
#imagen img:hover {
    transform: scale(1.15);

}
#Parrafos {
    background-color: aliceblue;
    
    
    vertical-align: 50%;
    align-content: space-between;


}
.links{
    font-size: 30px;
    text-align: left;
    text-shadow: #21d72b;
}
