
a{
    color: white;
   size-adjust: 500px;

}
h1,h2{
text-align:center;  
color: #21d72b;   
text-shadow:#ffffff 2px 2px 5px;
font-size: 40px;

    }

body{
    background-image: url(Recursos/Feid-album-review.png);
    
    background-position-x: 50%;
    
    background-color: #86cb24;
    
}
    


.box {
    
    width: 30%;
    font-size: 20px;
    padding:5px;
    background-color: #21d72ac5;
    color: azure;
    
}
.notes{
    font-size: 30px;
    text-align: left;
    color: #21d72b;
}


